

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="registerForm"
          fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
      <mat-card class="card">
        <mat-card-header class="card-header" fxLayout.gt-xs="row" fxLayout.xs="column">
          <mat-card-title class="card-title">
            <div mat-card-avatar><fa-icon class="card-title-icon" [icon]="['fas', 'sign-in-alt']"></fa-icon></div>
            <span>Sign Up</span>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <mat-form-field class="item">
            <input #email matInput placeholder="Email Address" [formControl]="registerForm.controls['email']">
          </mat-form-field>
  
          <mat-form-field class="item">
            <input #password type="password" matInput placeholder="Password" [formControl]="registerForm.controls['password']" >         
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="center">
                <h5>Please select the issue date on your MM Card</h5>
                <input matInput [matDatepicker]="picker" [formControl]="registerForm.controls['cardIssueDate']">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </div>
  
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field class="item">
                <input #fname matInput placeholder="FirstName" [formControl]="registerForm.controls['firstName']">
              </mat-form-field>
              <mat-form-field class="item">
                <input #lname matInput placeholder="LastName" [formControl]="registerForm.controls['lastName']">
              </mat-form-field>
          </div>
  
  
          <div fxLayout="row" fxLayoutAlign="center">
              <mat-form-field class="item">
                <input #county matInput placeholder="County" [formControl]="registerForm.controls['county']">
              </mat-form-field>
          </div>
          <div class="submit-button">
            <button mat-raised-button color="primary" type="submit" (click)="setProfile()">Submit</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>