<!-- start count stats -->

<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 stats">
				<i id="refillIcon" class="large material-icons">loop</i>
				<br>
				<br>
				<div class="days-remaining">{{daysRemaining}}</div>
				<br>
				<h5>Days Until Next Fill</h5>
				<br>
				<div class="fillDate">{{fillDateStr}}</div>
				<br>
				<h5>Next Refill Date</h5>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

</section>

<!-- end cont stats -->