<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="loginForm"
        class="form"
        fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card class="card">
      <mat-card-header class="card-header" fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-card-title class="card-title">
          <div mat-card-avatar><fa-icon class="card-title-icon" [icon]="['fas', 'sign-in-alt']"></fa-icon></div>
          <span>Login</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="item">
          <input matInput placeholder="Email Address" formControlName="email" required>

        </mat-form-field>

        <mat-form-field class="item">
          <input type="password" matInput placeholder="Password" formControlName="password" required>
        </mat-form-field>

        <div class="submit-button">
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="doLogin()">Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
 